<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Spring Application Test Automation Test Suite">
    <test name="Skynet test">
        <classes>
            <class name="skynet.CucumberRunnerTest"/>
        </classes>
    </test>
</suite>